<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Men on Film Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="btn btn-danger scrape-new">SCRAPE MOVIES</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Men On Film</h1>
        <p>An Elaborate Fandango Movie Scraper</p>
    </div>
</div>
<div id="wrapper">
    <h1>Movies</h1>
    <h2>
        <i>Click on Movies to rate them: Two Snaps or Hated It!</i>
    </h2>
    <div id="movies"></div>
    <div id="notes"></div>
</div>


<footer class="footer">
    <div class="container" id="liner">
        <p>Men On Film Movie Scraper</p>
    </div>
</footer>